.line {
    width: 100%;
}

.button {
    border: 1px solid white;
    margin-left: 280px;
    width: 80px;
    text-align: center;
    outline: none;
    color: white;
}

.line {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    color: white;
    font-weight: lighter;
}

.option {
    width: 100%;
    height: 50px;
    color: white;
    font-weight: lighter;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
} 
  
::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;;
}

.input {
    width: 100%;
    color: white;
}

::ng-deep .mat-input-wrapper{
    color: white;
}

.placeholder {
    color: white;
    font-weight: lighter;
    font-size: 18px;
}

.login {
    border-radius: 5px;
    color: white;
    margin-left: 82%;
    outline: none;
    border: 1px solid white;
    font-weight: lighter;
}

.first-name {
    width: 46%;
    display: inline-block;
    margin-right: 8%;
}

.last-name {
    width: 46%;
    display: inline-block;
}


.not-empty-select.mat-selected {
    color: white !important;
    font-weight: lighter;
    font-size: 18px;
  }
  
:host /deep/ .mat-select-value-text {
    color: white !important;
    font-weight: lighter;
    font-size: 18px;
}