.body {
    width: 90%;
    margin: 10% auto auto auto;
}
 
.left {
    margin-left: 20px;
    width: 140px;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: calc(95% - 140px);
    display: inline-block;
    vertical-align: top;
    background-color: rgb(0, 0, 0, 0.3);
    max-height: 450px;
    overflow: scroll;
}

.button {
    color: white;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    display: block;
    width: 140px;
}

.middle-box {
    height: 100%;
    margin-right: 1%;
    visibility: visible;
}

.underline {
    background-color: rgb(0, 0, 0, 0.4);
    font-weight: bold;
}