<div style="color: white; font-weight: lighter; font-size: 28px;">
    Please type in your preference
</div>
<div class="line">
    <mat-form-field  class="input">
        <input matInput class="text-field" autocomplete="new-password" [(ngModel)]="zipcode">
        <mat-placeholder class="placeholder">Zipcode</mat-placeholder>
    </mat-form-field>
</div>
<div class="line">
    <mat-form-field  class="input">
        <input matInput class="text-field" autocomplete="new-password" [(ngModel)]="preference">
        <mat-placeholder class="placeholder">Food Style Preference</mat-placeholder>
    </mat-form-field>
</div>
<div clas="option">
    <mat-form-field class="input">
        <mat-label style="color: white; font-size: 18px; font-weight: lighter;">Show</mat-label>
        <mat-select [(ngModel)]="option">
            <mat-option [value]="'Only me'">Only me</mat-option>
            <mat-option [value]="'All'">All</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="line">
    <button mat-button class="login" (click)="save()">Save</button>
</div>