.nav-bar {
   background-color: transparent;
   height: 50px;
   position: fixed;
   top: 0;
   z-index: 100;
}

.left-box {
    height: 100%;
    margin-left: 5%;
}

.right-box {
    height: 100%;
    margin-right: 5%;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

i {
    font-size: 24px;
    color: grey;
}

button {
    color: white;
    background-color: transparent;
    border-radius: 0;
}

.middle-box {
    height: 100%;
    margin-right: 1%;
    visibility: visible;
}

.underline {
    border-bottom: 3px solid white;
    font-weight: bold;
}